/*Colors*/
$navyBlue: #03045e; //border color
$darkCornFlower: #023e8a;
$blueGreen: #0096c7;
$skyBlueCrayola: #48cae4;
$blizzardBlue: #ade8f4;
$poweredBlue: #caf0f8;
$white: #fff;
$black: #000;

/*Borders*/
$borderRadius: 0.5rem;

/*Fonts*/
$notoSans: "Noto Sans", sans-serif; //main font
